useDynLib(kinference, .registration=TRUE)
export( "autopick_threshold",
"chain_pairwise",
"check_FPosity",
"check6and4",
"chisq_genofreq_check",
"drop_dups_pairwise_equiv",
"est_ALF_6way",
"est_ALF_ABCO",
"find_duplicates",
"find_dups_with_missing",
"find_HSPs",
"find_POPs",
"find_POPs_lglk",
"FSP_POP_histo",
"get_chain",
"hetzminoo_fancy",
"HSP_histo",
"hsp_power",
"hsp_power2",
"ilglk_geno",
"kinlegend",
"opti3ready",
"PLOD_loghisto",
"prepare_PLOD_SPA",
"re_est_ALF",
"split_FSPs_from_HSPs",
"split_FSPs_from_POPs",
"split_HSPs_from_HTPs",
"var_PLOD_kin")
import( Rcpp)
import( atease)
import( mvbutils)
import( gbasics)
import( vecless)

